.title {
    font-family: SourceSansPro, sans-serif;
    font-size: 17px;
    margin-bottom: 3px;
    margin-top: 2px;
    /* Weiwu: you shouldn't need the following */
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: black;
}

.title .text-style {
    font-weight: 600;
}

.subtitle {
    font-family: SourceSansPro, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #727272;
}

.container {
    width: 100%;
    /* use this instead of setting the line-height of subtitle */
    margin-bottom: 5px;
    /* this would break variable length activities - although the length of activity container is hard to get in the first place */
    height: 100%;
    padding-top: 1%;
}

.logo {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.info {
    float: right;
    text-align: right;
    font-family: SourceSansPro-Semibold, sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: black;
}

.time {
    font-family: SourceSansPro-Regular, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: right;
    color: #727272;
}
