[submodule "examples/erc20/AAVE/aave-protocol"]
	path = examples/erc20/AAVE/aave-protocol
	url = https://github.com/aave/aave-protocol.git
[submodule "examples/AAVE/aave-protocol"]
	path = examples/AAVE/aave-protocol
	url = https://github.com/aave/aave-protocol.git
