.card-content {
  margin: 3% auto;
  max-width: 100%;
  width: 540px;
  height: auto;
}

.content-section {
  display: flex;
}

.car-image {
  width: 175px;
  height: 175px;
}

.left-content {
  padding: 10px 30px;
  text-align: center;
  position: absolute;
  top: 92px;
  margin-left: 5px;
  margin-right: 5px;
}

.right-content {
  position: absolute;
  text-align: center;
  right: 35%;
  top: 115px;
}

.content {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14pt;
  letter-spacing: 0;
  color: RGB(189, 189, 189);
  margin: 0;
}

.list-background{
  width: auto;
  height: 50px;
  margin: 20px;
  background: #FF0000;
}

.greater-sign-image {
  width: 25px;
  height: 25px;
}

.stormbutwide { 
  background-color: #DB393A; 
  justify-content: center; 
  padding: 16px 30px 16px 30px; 
  text-align: center; 
  border: none; 
  color: white; 
  width: 100%; 
}

@media screen and (min-width: 1600px) and (max-width: 1980px) {
  .right-content {
    position: absolute;
    right: 39.5%;
    top: 130px;
  }
  .left-content {
    top: 110px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1480px) {
  .right-content {
    position: absolute;
    text-align: center;
    right: 36%;
    top: 115px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .right-content {
    position: absolute;
    right: 34%;
    top: 110px;
  }
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 90px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .right-content {
    position: absolute;
    right: 27%;
    top: 95px;
  }
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 90px;
  }
}

@media screen and (min-width: 400px) and (max-width: 480px) {
  .right-content {
    position: absolute;
    right: 30px;
    top: 50px;
  }
  .left-content {
    padding: 10px 18px;
    text-align: center;
    position: absolute;
    top: 42px;
  }
  .car-image {
    width: 130px !important;
    height: 130px !important;
  }
  .content {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14pt;
    letter-spacing: 0;
    margin: 0;
    position: relative;
    top: -25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 390px) {
  .right-content {
    position: absolute;
    right: 20px;
    top: 35px;
  }
  .left-content {
    padding: 10px 15px;
    text-align: center;
    position: fixed;
    top: 30px;
  }
  .car-image {
    width: 115px !important;
    height: 115px !important;
  }
  .content {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14pt;
    letter-spacing: 0;
    margin: 0;
    position: relative;
    top: -26px;
  }
}

@media screen and (min-width: 370px) and (max-width: 379px) {
  .left-content {
    padding: 10px 18px;
    text-align: center;
    position: fixed;
    top: 35px;
  }
  .right-content {
    position: absolute;
    right: 20px;
    top: 40px;
  }
}

@media screen and (min-width: 380px) and (max-width: 395px) {
  .left-content {
    padding: 10px 18px;
    text-align: center;
    position: absolute;
    top: 40px;
  }
  .right-content {
    position: absolute;
    right: 30px;
    top: 40px;
  }
}

@media screen and (min-width: 600px) and (max-width: 695px) {
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .right-content {
    position: absolute;
    right: 18%;
    top: 90px;
  }
  .car-image {
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1090px) {
  .right-content {
    position: absolute;
    right: 30%;
    top: 100px;
  }
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 85px;
  }
  .car-image {
    width: 165px;
    height: 165px;
  }
}

@media screen and (min-width: 900px) and (max-width: 980px) {
  .right-content {
    position: absolute;
    right: 29%;
    top: 102px;
  }
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 80px;
  }
}

@media screen and (min-width: 800px) and (max-width: 890px) {
  .right-content {
    position: absolute;
    right: 25%;
    top: 95px;
  }
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .car-image {
    width: 165px;
    height: 165px;
  }
}

@media screen and (min-width: 700px) and (max-width: 790px) {
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 75px;
  }
  .right-content {
    position: absolute;
    right: 24%;
    top: 95px;
  }
}

@media screen and (device-width: 480px) {
  .car-image {
    width: 140px !important;
    height: 140px !important;
  }
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 60px;
  }
  .right-content {
    position: absolute;
    right: 50px;
    top: 75px;
  }
}

@media screen and (min-width: 510px) and (max-width: 580px) {
  .car-image {
    width: 160px !important;
    height: 160px !important;
  }
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .right-content {
    position: absolute;
    right: 15%;
    top: 85px;
  }
}

@media screen and (device-width: 854px) and (device-height: 480px) {
  .right-content {
    position: absolute;
    right: 26%;
    top: 95px;
  }
  .left-content {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 80px;
  }
}

@media screen and (device-width: 320px) {
  .car-image {
    width: 100px !important;
    height: 100px !important;
  }
  .content {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14pt;
    letter-spacing: 0;
    margin: 0;
    position: relative;
    top: -25px;
  }
  .right-content {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  .left-content {
    padding: 10px 15px;
    text-align: center;
    position: fixed;
    top: 22px;
  }
}

/* Market start */

.content-market {
  margin: 0;
  padding: 0;
  width: auto;
}

.arrowimg {
  width: 30px;
  height: auto;
  position: absolute;
  right: 10px;
  margin-top: -5px;
}

.list-background {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 20px 0 0px 0;
  height: 40px;
  margin:0;
}

.list-text {
  font-size: 17px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin:0;
}

/* Market End */

/* Challenge Start */

.challenge-content {
  text-align: center;
  margin: 5% auto;
}
.challenge-image {
  width: 500px;
  height: auto;
}

.challenge-header {
  font-size: 36px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.7;
}

.challenge-message {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  color: rgb(47, 47, 47);
  line-height: 1.4;
}

@media screen and (min-width: 330px) and (max-width: 395px) {
  .challenge-image {
    width: 340px;
    height: auto;
  }
  .challenge-header {
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.7;
  }
}

@media screen and (min-width: 400px) and (max-width: 495px) {
  .challenge-image {
    width: 400px;
    height: auto;
  }
}

@media screen and (device-width: 320px) {
  .challenge-image {
    width: 300px;
    height: auto;
  }
  .challenge-header {
    font-size: 26px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.4;
  }
  .challenge-message {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: rgb(47, 47, 47);
    line-height: 1.4;
  }
}

@media screen and (min-width: 520px) and (max-width: 896px) {
  .challenge-message {
    margin: 5%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .challenge-message {
    margin: 5%;
  }
}

/* Challenge End */